/*presentacion*/
@mixin banner() {
    background-position: top;
    background-size: cover;
    background-repeat: none;
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
}

#sobreMi {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
    .sobreMi__romina {
        width: 100%;
        margin-bottom: 30px;
        background-image: url(../media/rominabocon.jpg);
        @include banner ();

        }
    .sobreMi__intro {
        h1 {
            font-size: 22px;
        }
    }    
    .sobreMi__agente {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sobreMi__letra {
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        text-decoration: underline;
    }
            
}