/*presentacion*/

#sobreMi {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
    .sobreMi__romina {
        margin-bottom: 30px;
        background-image: url(../media/rominabocon.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: none;
        width: 100%;
        height: 190px;
        @media all and (min-width: 768px){
            height: 300px;
            background-position: center;
            }
        @media all and (min-width: 1200px){
            height: 500px;
            background-position: top;
            }
        }
    .sobreMi__intro {
        h1 {
            font-size: 22px;
        }
    }    
    .sobreMi__agente {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sobreMi__letra {
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        text-decoration: underline;
    }
            
}